table 
{
	   
	  
       margin: 5px;
       width: 50%;
       color: FFA833;
       background: black;
       margin-left: 25%; 
       margin-bottom: 10%;
        
       
}

td
{
        width: 100px;
}

tr
{
        height: 30px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 30px;
   background-color: #006699;
   color: white;
   text-align: right;
   
}